.contato {
    .container {
        width: 300px;
        position: fixed;
        bottom: 10px;
        right: 2%;
        z-index: 200;

        .box-0 {
            background: linear-gradient(to right, #0096d9, #004884);
            padding: 8px;
            border-radius: 30px;
        }

        .box-1 {
            background-color: #ffffff;
            padding-top: 15px;
            padding-bottom: 10px;
            border-radius: 25px;
        }
    }

    .tt {
        margin-bottom: 10px;

        p {
            font-family: 'Futura Std';
            font-style: normal;
            font-weight: bold;
            color: #263685;
            font-size: 15px;
            line-height: 19px;
        }
    }

    .group-form {
        .form-group {
            padding-left: 2px;
            padding-right: 2px;
            margin-bottom: 5px;
        }

        .form-control {
            font-family: 'Futura Std';
            font-style: normal;
            font-weight: 400;
            height: 50px;
            padding: 6px 12px 15px 0px;
            font-size: 12px;
            line-height: 1.42857143;
            color: rgba(0, 0, 0, 0.4);
            background-color: #ffffff;
            border-radius: 0px;
            border-top: 0px solid transparent;
            border-left: 0px solid transparent;
            border-right: 0px solid transparent;
            border-bottom: 1px solid #000000;
            box-shadow: none;
            text-transform: uppercase;

            &::-webkit-input-placeholder {
                color: rgba(0, 0, 0, 0.4);
            }

            &:-ms-input-placeholder {
                color: rgba(0, 0, 0, 0.4);
            }

            &::placeholder {
                color: rgba(0, 0, 0, 0.4);
            }
        }

        textarea {
            height: 130px !important;
        }

        .btn_enviar {
            width: 65%;
            font-family: 'HelveticaNeue';
            padding: 3px 0px;
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.42857143;
            border: 3px solid #e94e1f;
            border-radius: 20px;
            color: #e94e1f;
            background-color: #ffcc00;
            display: table;
            margin: 20px auto 0;
            text-transform: uppercase;

        }
    }
}

.redes {
    margin: 10px auto 0;
    display: table;

    a {
        display: inline-block;
        margin: 0 3px;
    }
}

/* Extra Small */
@media(max-width:767px) {
    .contato {
        padding-bottom: 30px;

        .container {
            width: 90%;
            position: relative;
            top: 10px;
            right: 0%;
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {
    .contato {
        .container {
            width: 500px;
            position: relative;
            top: 10px;
            right: 0%;
            margin-bottom: 40px;
        }
    }
}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {
    .contato {
        .container {
            right: 2%;
        }
    }
}

/* Large */
@media(min-width:1200px) {}