.home {
  background: url(../images/fundo-laranja_superior.jpg) no-repeat;
  background-position: center top;
  background-size: cover;
  padding-top: 90px;
}

.home .galeria {
  margin-bottom: -5px;
}

.faixa-azul,
.faixa-vermelho,
.faixa-verde,
.faixa-roxo {
  padding-bottom: 18px;
  padding-top: 18px;
}

.faixa-azul p,
.faixa-vermelho p,
.faixa-verde p,
.faixa-roxo p {
  font-family: 'Futura Std';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.faixa-azul {
  background: #263684;
  background: -webkit-gradient(linear, left top, right top, from(#263684), color-stop(49%, #008ad0), to(#263684));
  background: linear-gradient(90deg, #263684 0%, #008ad0 49%, #263684 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#263684", endColorstr="#263684", GradientType=1);
}

.faixa-vermelho {
  background: #ce1719;
  background: -webkit-gradient(linear, left top, right top, from(#ce1719), color-stop(49%, #f38f00), to(#ce1719));
  background: linear-gradient(90deg, #ce1719 0%, #f38f00 49%, #ce1719 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ce1719", endColorstr="#ce1719", GradientType=1);
}

.faixa-verde {
  background: #00570e;
  background: -webkit-gradient(linear, left top, right top, from(#00570e), color-stop(49%, #00bd00), to(#00570e));
  background: linear-gradient(90deg, #00570e 0%, #00bd00 49%, #00570e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00570e", endColorstr="#00570e", GradientType=1);
}

.faixa-roxo {
  background: #672583;
  background: -webkit-gradient(linear, left top, right top, from(#672583), color-stop(49%, #b6599e), to(#672583));
  background: linear-gradient(90deg, #672583 0%, #b6599e 49%, #672583 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#672583", endColorstr="#672583", GradientType=1);
}

.hits {
  background: url(../images/bg-1.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hits p {
  font-family: 'Futura Std';
  font-style: normal;
  font-weight: normal;
  color: #636362;
  font-size: 16px;
  line-height: 25px;
  text-align: right;
}

.projeto {
  background: url(../images/bg-2.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
}

.projeto .galeria {
  position: relative;
  z-index: 100;
  margin-bottom: -30px;
}

.projeto .portaria img {
  float: right;
}

.implantacao {
  background: url(../images/bg-5.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.implantacao a {
  position: absolute;
}

.implantacao .cta-ficha-tecnica {
  top: 24%;
  right: 26%;
}

.implantacao .cta-implantacao {
  bottom: 10%;
  left: 20%;
}

.lazer {
  background: url(../images/bg-3.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
}

.lazer .galeria {
  position: relative;
  z-index: 100;
}

.lazer .thumb-lazer {
  margin-bottom: 30px;
}

/* Extra Small */
@media (max-width: 767px) {
  .home {
    background: url(../images/fundo-laranja_superior-mobile.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 10px;
  }
  .home .galeria {
    margin-bottom: -6px;
  }
  .faixa-azul,
  .faixa-vermelho,
  .faixa-verde,
  .faixa-roxo {
    padding-bottom: 13px;
    padding-top: 15px;
  }
  .faixa-azul p,
  .faixa-vermelho p,
  .faixa-verde p,
  .faixa-roxo p {
    font-size: 13px;
    line-height: 20px;
  }
  .hits {
    background: url(../images/bg-1-mobile.jpg) no-repeat;
    background-position: center top;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .hits p {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 20px;
  }
  .projeto {
    background: url(../images/bg-2-mobile.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .projeto .galeria {
    margin-bottom: 10px;
  }
  .implantacao {
    background: url(../images/bg-5-mobile.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .implantacao a {
    width: 150px;
  }
  .implantacao .cta-ficha-tecnica {
    top: 24%;
    right: 22%;
  }
  .implantacao .cta-implantacao {
    bottom: 10%;
    left: 14%;
  }
  .lazer {
    background: url(../images/bg-3-mobile.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* Small */
/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .implantacao a {
    width: 200px;
  }
  .implantacao .cta-ficha-tecnica {
    top: 24%;
    right: 22%;
  }
  .implantacao .cta-implantacao {
    bottom: 10%;
    left: 14%;
  }
}

/* Large */
/*# sourceMappingURL=home.css.map */